{% extends 'base.html' %}

{% block content %}
<style type="text/css">

#capa1{margin-top:0px;margin-left:650px;width:1200px;height:300px;float:left;
background-color:white;color:black;font-style:italic;clear:both}

</style>

  <form method="get">
    <h2>Buscar Un Jugador</h2>
    {{ filter.form.as_p }}
    <button type="submit" class="btn btn-primary">Buscar Jugador</button>
  </form>
  <br>
	<a href="{% url 'index' %}"><input type="button" value="Regresar" class="btn btn-primary"></a>

<div id="capa1">
  <h2>Jugadores</h2>
  <ul>
  {% for Jugador in filter.qs %}
    <li>{{ Jugador.content }} {{ Jugador.apellido }}</li>
  {% endfor %}
  </ul>

</div>
{% endblock %}